


*::-webkit-scrollbar {
      width: 10px;

      height: 6px;
}
*::-webkit-scrollbar-track {
     background-color: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
} 
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
     background-color: rgba(100,100,100,0.6);
    
} 
*::-webkit-scrollbar-button {
  height: 0px;
    width: 0px;
      background-color: rgba(0,0,0,0.2);
}
*::-webkit-scrollbar-corner {
      background-color:rgba(0,0,0,0.2);
}

*{   
  - transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    padding: 0;
    margin:0;
    box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -o-box-sizing: border-box;

}


body{
  overflow-x: hidden;
}


#cerrar_paralax{
  position: fixed;
  top: 2%;
  right: 5%;
  z-index: -1;
}

#cerrar_paralax span{
  display: inline-block;
  font-size: 2em;
  padding: 10%;
  color: white;
  cursor: pointer;
}

.paralax{
  position: absolute;

  z-index: 0;
  width: 100%;
  height: 150%;
}

.item_uno{
  background-image: url("../imagenes/fondos/fondo-linkin.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.item_dos{
  background-image: url("../imagenes/fondos/fondo-coldplay.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top:150%;
}
.item_tres{
  background-image: url("../imagenes/fondos/fondo-green--day.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top:300%;
}
.item_cuatro{
  background-image: url("../imagenes/fondos/fondo-limp.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 450%;
}

#body{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-Y: auto; 
}


.navegador_mini{
  width: 100%;
  height: 60px;
 position: fixed;
 z-index: 2;
  background-color:rgba(0,0,0,0.7);
}

.logo_div{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.logo_div img{
   height: 50px;
}

.desplazar{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}


#icono_des{
  color: white;
  font-size: 1.7em;
  cursor: pointer;
}


#opciones{
  position: absolute;
  transition: all 0.4s ease;
  z-index: 4;
  width: 80%;
  overflow: auto;
  height: 100%;
  color: white;
  left: 0;
  top: 0;
  background-color: black;
  transform: translateX(-100%);
  z-index: 2;
}

.menosopcion{
   position: absolute;
   top: 0;
   right: 0;
   width: 20%;
   transform: translateX(100%);
   z-index: 2;
   height: 100%;
}

#opciones h3{
  color: white;
  text-align: center;
}

#opciones ul li {
  background: rgba(0,0,0,0);
  border:solid 1px rgba(0,0,0,0);
}

#opciones ul li:hover {
   background-color: rgba(0,0,200,0.4);
   cursor: pointer;
}






#navegador{
   position: relative;
   transform: none;
  overflow:auto; 
    background-color: #111111;
    height: 100%;
    padding: 1%;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
}

.logo img{
  width: 80%;
}

.foto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.foto img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   -o-border-radius: 50%;
}

.nombres{
   width: 100%;
   height: auto;
   text-align: center;
}

.nombres strong{
   font-size: 1em;
   color: white;
   font-family: menu;
}

.nombres p{
   font-size: 0.9em;
   color: white;
}

.nombres a{
  font-size: 0.7em;
  color: white;
  font-weight: bold;
}

hr{
  width: 70%;
}

.musica{
  width: 80%;
  float: right;
  color: white;
  margin-bottom: 5%;
}

.musica img{
  width: 25px;
}

.musica span{
 font-size: 0.7em;
 font-weight: bolder;
 margin-left: 5%;
     cursor: pointer;
}

span:hover{
  text-decoration: underline;
}

.fondo{
  text-align:left;
  width: 70%;
  float: right;
  margin-bottom: 10%;
}

.fondo span {
  font-size: 0.7em;
  color: #413D32;
  font-weight: bolder;
  cursor: pointer;
}

.fondo p:hover{
  text-decoration: underline;
}

.mini{
   display: none;
}

.footer{ 
  display: block;
  bottom: 0;
  float: left;
  text-align: center;
  background-color: #111111;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.footer p {
  color: white;
  font-size: 0.8em;
  font-weight: bolder;
  font-family: menu;
  text-align: center;
}

.nav_multi{

  width: 100%;
}



#navegador_option{
  margin-top:2%; 
  width: 100%;
  height: 70%;
  color: white;
}

#nav{
   width: 100%;
   height: 100%;
}

.grupo_usu{
  width: 100%;
  height: auto;
}

.intro_grupo{
  width: 100%;
   padding: 2% 3%;
   cursor: pointer;
   font-size: 1.2em;
} 

.icomon{
	float: right;
}

.cuerpo_grupo{
	height: 0px;
	overflow: hidden;
}

.cuerpo_grupo ul {
	list-style: none;
}

.cuerpo_grupo li {
	padding: 3%;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	border: solid 1px rgba(0,0,0,0);
}

.cuerpo_grupo li:hover{
	background-color: rgba(0,0,200,0.4);
}










#mensajes{
  padding: 1%;
  height: 100%;
}

.conter{
  width: 100%;
   height: 80%;
}

 #mensajero{
  width: 100%;
  height: 100%;
 background-image: url('../imagenes/fondos/fondo-chat.jpg');
 background-size: cover 100%;
 background-attachment: fixed;
 background-position: center center;
 padding: 10px;
 overflow-y: scroll;
 }

 #mensajero iframe{
  width: 100%;
 }



.escritura{
  width: 100%;
	height: 20%;
	padding: 1%;
  position: relative;
}

.textarea{
  width: 80%;
  height: 100%;
  float: left;
}

.textarea input{
  width: 100%;
  height: 100%;
}

.link{
  width: 10%;
  height: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link img{
  height: 30px;
}

.link_img{
  width: 10%;
  height: 50%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.link_img img{
  height: 30px;
}


.emoti{
  width: 10%;
  float: left;
  height: 50%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.emoti img{
  height: 30px;
}

.inputs{
  cursor: pointer;
  width: 10%;
  float: left;
  box-sizing: border-box;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs img{
  height: 30PX;
}


.modal_fotos{
  padding: 5%;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  background-color: rgba(150,150,255,0.8);
}

.modal_fotos label{
  font-size: 1.4em;
  font-weight: bold;
}

.img_chat{
  width: 90%;
  height: 300px;
}

.iframe_chat{
  width: 70%;
  border: none;
  height: 300px;
}

.modal_video{
  padding: 5%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,50,50,0.6);
}

.modal_video label{
  font-size: 1.4em;
  font-weight: bold;
}


.emoticones {
  position: absolute;
  width: 100%;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(100,255,150,0.8);
}

.list_emoticones{
  width: 95%;
  height: 100%;
  float: left;
  overflow: auto;

}

.list_emoticones span{
  display: inline-block;
  cursor: pointer;
  width: 10.3%;
  height: 50%;
  margin: 1%;
  float: left;
}

.list_emoticones span img{
  width: 100%;
  height: 100%;
}


.emoti span{
  color: white;
  font-size: 1.5em;
}

.salir{
  position: absolute;
  right: 4%;
  top: 4%;

}

.salir span{
   padding:10%;
   color: white;
   font-size: 1.2em;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.salir_video{
  position: absolute;
  right: 4%;
  top: 4%;

}

.salir_video span{
   padding:10%;
   color: white;
   font-size: 1.2em;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.salir_fotos{
  position: absolute;
  right: 4%;
  top: 4%;

}

.salir_fotos span{
   padding:10%;
   color: white;
   font-size: 1.2em;
  width: 100%;
  height: 100%;
  cursor: pointer;
}









#notificaciones{
height: 100%;
overflow: auto;
}

.title_noticia{
   text-align: center;
   color: white;
   font-family: menu;
    box-sizing: border-box;
   width: 100%;
 }

.contenedor_noticias{
   width: 100%;
}

.nueva_noticia{
  background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
  position: relative;
  width: 90%;
  height: auto;
  min-width: 300px;
  margin-top: 2%;
  padding: 2%;
}

.nueva_noticia:after{
  content: "X";
  top: -3%;
  cursor: pointer;
  right: -3%;
  color: white;
  font-weight: bolder;
  z-index: 3;
  padding: 2%;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.ayuda{
    border-radius: 10px;
  position: absolute;
  opacity: 0.2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.img_noticia{
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
   width: 30%;
   height: 100%;
   float: right;
   display: flex;
   padding: 2%;
   justify-content: center;
   align-items: center;
}

.img_noticia img{
  width: 100%;
 height: 100px;
 border-radius: 10px;
}

.titulo_noticia{
  width: 70%;
  text-align: center;
  color: white;
}

.detalle_noticia{
  width: 70%;
 color: white;
 padding: 2%;
 font-size: 12px;
}






.nom_min{
  margin-left: 10%;
  text-align: center;
  font-size: 1.2em;
}

.img_min{
  width: 60%;
  height: 35%;
  margin-right: 4%;
  max-width: 150px;
  max-height: 150px;
  float: right;
   display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img_min img{
  width: 80%;
  height: 80%;
}

.modal-content{
  border-radius: 0px;
  color: white;
}

.modal-header{
  background-color: #FF811A;
}

.close{
  color:black;
}

.modal-body{

}

.formul{
  width: 100%;
  height: 20%;
  padding: 3%;

}

#img_per{
  border-radius: 10px;
  margin:auto;
  margin-top: 5%;
  width: 60%;
  height: 50%;
}

#img_per img{
    border-radius: 10px;
  width: 100%;
  height: 100%;
}

  @media screen and (max-width: 992px ) {
 .usuario_img{
   position: relative;
 }

 .usuario_img img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 }

 .modal_video{
  display: none;
 }
}

@media screen and (max-width: 768px ) {
  #body{
    padding: 0px;
  }

*::-webkit-scrollbar {
      width: 5px;

      height: 5px;
}

    .inputs{
    width: 14%;
    height: 50%;
  }

    .emoti{
    width: 14%;
    height: 50%;
  }
 .textarea{
    width: 86%;
  }

  .link{
    display: none;
  }

   .link_img{
    display: none;
  }


  body{
  background-image: url("../imagenes/fondos/fondo-linkin.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover 100%;
  }

  .paralax{
    display: none;
  }

  #mensajes, #notificaciones{
    margin-top: 60px;
    height: 90%;
  }
  
  #navegador{
    transform: translateX(-100%);
    z-index: 3;
    position: fixed;
    height: 100%;
    width: 80%;
  }
   .logo{
  margin-bottom: 2%;
   }

  .logo img{
    height: 40px;
    width: auto;
  }
  
  #navegador > br{
    display: none;
  }

  .musica span{
    font-size: 1.1em;
  }

  .fondo {
    text-align: center;
    width: 100%;
  }

.fondo span{
  font-size: 1em;
}

.nombres strong {
  font-size: 1.2em;
}
.nombres p{
  font-size: 1.1em;
}

.nombres a {
  font-size: 0.9em;
}

.mini{
  width: 100%;
  text-align: center;
  color: white;
  float: right;
}


}

@media screen and (max-width: 504px ) {
   #mensajes, #notificaciones{
    height: 90%;
   }
}

@media screen and (max-width: 769px ) {
  #notificaciones{
    transform: none;  
  }
}

@media screen and (max-height:415px) and (max-width:768px) {
    .navegador_mini{
    height: 15%;
   }
   
 
   .emoti{
    width: 10%;
    height: 100%;
  }

  
  .textarea{
    width: 80%;
  }

  .inputs{
    width: 10%;
    height: 100%;
  }
  

}

@media screen and (max-height : 600px) {
    .link{
    display: none;
  }

  .modal_video{
    display: none;
  }

  .link_img{
    display: none;
  }

   .emoti{
    width: 10%;
    height: 100%;
  }

  .textarea{
    width: 80%;
  }

  .inputs{
    width: 10%;
    height: 100%;
  }

    #mensajes, #notificaciones{
    height: 80%;

}